/* font */
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap&subset=korean');  /* Google Fonts - Sunflower */

html, body, h1, h2, h3, h4, h5, h6{
  font-family: "Sunflower", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0;
}

/* font */

/* tag */
html, body{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(34, 34, 34);
  text-align: center;
  font-family: 'Sunflower', sans-serif;
}

input[type=text] {
  width: 30%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
}

img{
  width: 100%;
  height: auto;
  opacity: 70%;
}

/* tag */

/* class */
.main-content{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  top : 20%;
}

.content-box{
 background-color: #e7e7e754;
 width: 100%;
 padding: 20px;
}

.form-name,
.greeting {
  display: none;
}

.js-greeting{
  font-size: 35px;
  margin: 50px 0px;
  margin-bottom: 10px;
}

.showing{
  display: block;
}

.clock-display{
  display: inline;
  font-size: 30px;
  right: 20px;
  top: 15px;
  margin: 0px;
  position: absolute;
  color: #bdc3c7;
}

.js-date{
  position: absolute;
  right: 20px;
  top:50px;
  font-size: 20px;
  color: #bdc3c7;
  font-weight: 700;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;    
  }
}

/* Animation */

.bgImage{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.passa-parola{
  font-size: 30px;
  margin: 5px 0;
  margin-bottom: 30px;
}

.korean-text{
  margin: 10px 0;
  font-size: 40px;
}

.italian-text{
  margin: 10px 0;
  margin-top: 20px;
  font-size: 30px;
}

.quote-generator{
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  position: absolute;
}

.quote-text{
  display: inline-block;
  background-color: #e7e7e754;
  margin: auto;
  width: auto;
  font-size: 25px;
  line-height: 30px;
  white-space: nowrap;
}

.resetName{
  background: #aaa69d;
  display: inline-block;
  transition: all 0.4s ease 0s;
  padding:0px;
  position: relative;
  left: 8px;
  bottom: 3px;
  opacity: 80%;
  border: 1px solid #aaa69d;
}

.resetName:hover {
  background: #ff793f;
  border-color: #ff793f;
  transition: all 0.4s ease 0s;
}

/* For Mobile Dispaly */
@media screen and (max-width:800px){
  .main-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    top : 20%;
  }
  .content-box{
    width: 100%;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
   }
  .clock-display{
    font-size: 15px;
    right: 10px;
  }
  .js-date{
    font-size: 15px;
    top: 30px;
    right: 10px;
  }
  .quote-generator {
    font-size: 12px;
  }
  .passa-parola{
    font-size: 15px;
    margin: 10px 0;
    margin-bottom: 20px;
  }  
  .korean-text{
    margin: 10px 0;
    font-size: 20px;
  }  
  .italian-text{
    margin: 10px 0;
    font-size: 15px;
  }
  .js-greeting{
    font-size: 20px;
    margin: 20px 0px;
  }
  .quote-generator{
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    position: absolute;
  }
  .quote-text{
    background-color: hsla(0, 0%, 100%, 0.205);
    margin: auto;
    width: 260px;
    padding: 5px;
    font-size: 14px;
    line-height: 17px;
    white-space: normal;
  }
}

